node_modules/
.DS_Store/


            {
                type: 'list',
                name: 'licenses',
                message: 'Select a license for your project',
                choices: ['option1', 'option2', 'option3', 'option4', 'option5', 'option6', 'option7']
            },